# Ignore all data files
*.txt
*.xlsx

# Ignore logs
*.log

# Keep requirements
!requirements.txt

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment specific files
.env
venv/

.idea/